*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
   


.box
{
    background: radial-gradient(135deg #153677, #4e085f);
    color:black;
    margin-left:530px;
    margin-top:300px;
    border:ridge;
    height:auto;
    width: 450px;;
    border-color: rgb(79, 112, 232);
    border-radius: 20px;

}
.set
{
    text-align: center;
}